[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
requests = "*"
django-environ = "*"
"psycopg2-binary" = "*"
"boto3" = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.5"
